@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Mapbox GL CSS */
@import 'mapbox-gl/dist/mapbox-gl.css';

html,
body,
#root {
  height: 100%;
}

html {
  overscroll-behavior-x: none;
}

body {
  overscroll-behavior: none;
  touch-action: manipulation;
}

.text-balance {
  text-wrap: balance;
}
