@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave-1 {
  0%,
  100% {
    transform: translate3d(-20%, 0, 0);
  }
  50% {
    transform: translate3d(20%, 0, 0);
  }
}

@keyframes wave-2 {
  0%,
  100% {
    transform: translate3d(-15%, 0, 0);
  }
  50% {
    transform: translate3d(15%, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

.animate-wave-1 {
  animation: wave-1 18s ease-in-out infinite;
}
.animate-wave-2 {
  animation: wave-2 24s ease-in-out infinite;
}
.animate-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
