@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave-1 {
  0%,
  100% {
    transform: translate3d(-20%, 0, 0);
  }
  50% {
    transform: translate3d(20%, 0, 0);
  }
}

@keyframes wave-2 {
  0%,
  100% {
    transform: translate3d(-15%, 0, 0);
  }
  50% {
    transform: translate3d(15%, 0, 0);
  }
}

.animate-wave-1 {
  animation: wave-1 18s ease-in-out infinite;
}
.animate-wave-2 {
  animation: wave-2 24s ease-in-out infinite;
}
